<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link rel="stylesheet" href="/app/common/stylesheets/myInbox.css">
        <div ng-controller="IndexController">
            
    </head>
        <body>
          <super-navbar>
            <super-navbar-title>
              My Inbox
            </super-navbar-title>
          </super-navbar>

              <div class="padding">
                <h1>CyberIRB Login</h1>
              </div>
            
             <div class="container" id="Login">
                <div class="signin-card">
                  <!--<div class="logo-image">-->
                  <!--<img src="http://www.officialpsds.com/images/thumbs/Spiderman-Logo-psd59240.png" alt="Logo" title="Logo" width="138">-->
                  <!--</div>
                  <h1 class="display1">Cyber IRB</h1>-->
                  <!--<p class="subhead">Description</p>-->
                  <!--<form action="inbox.html" target="_blank" class="" role="form">-->
                    <!--<div id="form-login-username" class="form-group">-->
                      <input id="username" class="form-control" name="username" type="text" size="18" alt="login" required />
                      <!--<span class="form-highlight"></span>
                      <span class="form-bar"></span>-->
                      <label for="username" class="float-label">Login</label>
                    </div>
                    <!--<div id="form-login-password" class="form-group">-->
                      <input id="passwd" class="form-control" name="password" type="password" size="18" alt="password" required>
                    
                      <label for="password" class="float-label">Password</label>
                   
                    <!--<div id="form-login-remember" class="form-group">-->
                    <!--  <div class="checkbox checkbox-default">       -->
                    <!--      <input id="remember" type="checkbox" value="yes" alt="Remember me" class="">-->
                    <!--      <label for="remember">Remember me</label>      -->
                    <!--  </div>-->
                    <!--</div>-->
                    <div>
                      <button class="btn btn-block btn-info ripple-effect" type="button" name="Button" id="Enter" alt="sign in" ng-click="Enter()">Sign in</button>  
                      </div>

                </div>
              <section>
                <div id="dialog" heading="Error" style="display:none;">
                  <p>Wrong username/password</p>
                </div>
              </section>
            </div>

                <div id="InboxTable" style="display:none;">
           <core-header-panel mode="standard" id="core_header_panel">
            <core-toolbar id="core_toolbar">
              <core-icon-button icon="menu" id="core_icon_button"></core-icon-button>
              <div id="div">Inbox</div>
              <!--<div id="divWelcome">Welcome <span id="ShowLogonName"></span></div>-->
            </core-toolbar>
            <section id="section"></section>
          </core-header-panel>
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
          <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                  <tr>
                    <!--<th>IRB#</th>-->
                    <th>Task</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>PI</th>
                    <th>Received Date</th>
                  </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
              </table>
          </div>
        </div>

          
</body>
        
    </div>
</html>