<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <div ng-controller="IndexController">
        <link rel="stylesheet" href="/app/common/stylesheets/login.css">
        <link rel="stylesheet" href="/app/common/stylesheets/inbox.css"> 
    </head>
        <body>
          <super-navbar>
            <super-navbar-title>
              Protocol Summary
            </super-navbar-title>
          </super-navbar>
         <div id="protSummContainer"> 
             
          <div id="People" style="display:none;">
              <div id="tablePeople-body">
              </div>
          </div>
            
         <div id="protocolInfo">
         </div>
            
         <div id="suppDocs">
         </div>

        </div>
      </body>   
    </div>
</html>